<pagination [boundaryLinks]="true" [totalItems]="totalItems" [itemsPerPage]="taillePage" [ngModel]="noPage"
    (pageChanged)="onPageChanged($event)" class="mt-1"></pagination>
<div>
    <div id="filter" *ngIf="filterType">
        <app-filtre-pokemon [typesInput]="filterType" (typeOutput)="onPokemonFilter($event)"></app-filtre-pokemon>
    </div>
<h5>{{tagFilter}}</h5>

 <br/>
<div class="row">
    <div class="col-sm-4" *ngFor="let pokemon of pagePokemon.content">
        <div class="card mb-5" style="width: 20rem;">
            <div class="card-header">
                <img style="float: right; " id="pokeball" src="/assets/img/poke_ball.png"  class="img-responsive"  alt="Responsive image pokedex "/>
                <h3 style="text-align: left;"># {{pokemon.id}}</h3>
            </div>
            <div class="text-center">
                <img class="card-img-top img-thumbnail rounded-circle thumbdata-pokemon" [src]="getImgFromApi(pokemon.id)"
                    onError="this.src='https://eternia.fr/public/media//rb/divers/missingno.png'" [alt]="pokemon.name">
            </div>
            <div class="card-body">
                <h5 class="card-title">{{pokemon.name}}</h5>
                <!-- <p class="card-text">{{pokemon.description}}</p> -->
                <a class="btn btn-outline-success" routerLink="/pokedex/pokemon/details/{{pokemon.id}}"> detail</a>
            </div>
            <div class="card-footer font-weight-bold">
                Type:
                <img class="types" *ngIf="pokemon.type1" [src]="convertTypeToImg(pokemon.type1)">
                <img class="types" *ngIf="pokemon.type2" [src]="convertTypeToImg(pokemon.type2)">
            </div>
        </div>
    </div>
</div>