<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <img src="/assets/img/pokedex_icon.png"  class="img-responsive"  alt="Responsive image pokedex ">
    
    <a class="navbar-brand" routerLink='/pokedex/list'>{{title}}</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav"
        aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNav">
        <ul class="navbar-nav">
            <li class="nav-item active">
                <a class="nav-link" routerLink='/pokedex'> #pokemons </a>
            </li>
            <li class="nav-item">
                <a class="nav-link" routerLink='/pokedex/list-asc'>A-Z</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" routerLink='/pokedex/list-desc'>Z-A</a>
            </li>

            <li class="nav-item">
                <a class="nav-link" routerLink='/pokedex/list-id-desc'>pokemons#</a>
            </li>
            
            <li class="nav-item">
                <a class="nav-link" routerLink='/pokedex/pokemon/max/weight'>+ Weight</a>
            </li>

            <li class="nav-item">
                <a class="nav-link" routerLink='/pokedex/pokemon/min/weight'>- Weight</a>
            </li>

            <li class="nav-item">
                <a class="nav-link" routerLink='/pokedex/pokemon/max/height'>+ Height</a>
            </li>

            <li class="nav-item">
                <a class="nav-link" routerLink='/pokedex/pokemon/min/height'>- Height</a>
            </li>
 
            <li class="nav-item">
                <a class="nav-link" href="#">About</a>
            </li>
        </ul>

    </div>
    <img class="img-banner" src="/assets/img/pokemonLogo.png"  alt="Logo Pokemon"/>

</nav>